.wrapper {
	width: 100%;
	height: 1000px;
}

.top_header {
	color:white;
	position: relative;
	width: 100%;
	height: 80px;
	background:#3084bf;
	box-shadow: 3px 0px 5px 0px;
}

.top_header > h2 {
	position: relative;
	top:20px;
	padding-left: 1em;
	margin:0;

}
.card {
	position: relative;
	width: 300px;
	height: auto;
	border: 1px solid grey;
	float:left;
	margin-left: 20px;
	margin-top: 20px;
	box-shadow: 5px 5px 10px 0px;
}
.card > h4,h6 {
	margin:5%;
}
.card > h6 {
	font-size:7px;
}


.card_img {
	vertical-align: middle;
	text-align: center;
	position: relative;
	width:290px;
	height: 200px;
	/*margin:0 auto;*/
	background: #b3b3b3;
	/*border-radius: 50%;*/
	margin:5px;
}
.card_img > a {
	font-weight:bold;
	color:white;
	font-size:12px;
	position: relative;
	vertical-align: middle;
	top:40%;
	text-decoration: none;
	transition: 0.3s;
}

.card_img > a:hover {
	font-weight:bold;
	font-size: 16px;
	transition: 0.3s;
}
.card_contents {

	margin:2%;
	/*border:1px dashed grey;*/
}
.card_contents > h6 {
	line-height: 1.7em;
}