.post_new_container {
	position: relative;
	width:100%;
	height: 100%;
	background: #444;
}
.post_content_div {
	padding-top: 10%;
	position: relative;
	top:10%;
	margin:0 auto;
	text-align: center;
	width: 80%;
	height: 80%;
	background: white;
	border: 1px solid grey;
	box-shadow: 9px 6px 10px 0px black;

}

.form_header, .form_content, .form_footer {
	font-weight: bold;
	position: relative;
	margin:0 auto;
	width: 80%;
	height: auto;
	text-align: center;
	margin-bottom: 10px;
}

.form_header input {width: 100%;}
.form_content textarea {position: relative;width: 100%;resize: none;}
.form_footer input {position: relative;margin:0 auto;width: 100%;}

.form_header h2,h5 {
	text-align: left;
	padding-bottom: 5px;
}

h5{margin:0;}