@font-face {
	font-family: "Typo_SsangmunDongB";
	src:local('Typo_SsangmunDongB'), url('../font/Typo_SsangmunDongB.ttf') format('truetype');
	
}

body,html {
	width: 100%;
	height: 100%;
}
body {
	padding-top:50px;
}

.navbar_header {
	position: relative;
	height: 200px;
}
.header_title{ 
	position: relative;
	margin:0 auto;
	width: 180px;
	height: 100%;
	font-size: 2em;
	font-family:'Typo_SsangmunDongB';
	text-align: center;
	text-decoration: none;
	color: white;
}

.container {
	position: relative;
	max-width: 100%;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
}

.container .background-image {
	background-image: url("../img/img1.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	height: 100%;
	width: 100%;
	display: block;
	overflow: hidden;
	position: relative;
}
.mainImg_title_container {
	font-family: 'Typo_SsangmunDongB';
	padding: 5%;
	color:white;
	text-align: center;
	position: relative;
	top:30%;
	margin:0 auto;
	width:100%;
	height: auto;
}
.mainImg_title {
	font-family: 'Typo_SsangmunDongB';
	position: relative;
	color:#00f3ff;
	font-size: 4em;
	margin:0;
	padding-bottom: 10px;
}

.contents {
	position: relative;
	width: 100%;
	height: auto;
	background: #1f1f1f;
}

.newsfeed {
	position: relative;
	float:right;
	width:70%;
	height: 100%;
	background: white;
	left:-3%;	
}

.new_newsfeed {
	color: white;
	margin:0 auto;
	width: 100%;
	height: 30px;
	text-align: center;
	transition: 0.3s
}
#myBtn {
	position: relative;
	color:black;
	width: 100%;
	height: 100%;
}
.new_newsfeed:hover {
	background:#79a6e0;
	transition: 0.3s
}

.new_newsfeed .plus {
	position: relative;
	width: 100%;
	height: 100%;
} 

.newsfeed .newsfeed_post {
	position: relative;
	width: 100%;
	height: 200px;
	border:1px solid grey;
	border-bottom: none;
	background-size: cover;
	text-align: center;
	background-position: 50% 50%;
	color:white;
}

.opacity { 
	position: relative;
	margin:0 auto;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
}

#post_title {
	font-family: 'Typo_SsangmunDongB';
	padding-top: 1em;
}

.newsfeed_content {
	position: relative;
	margin:0 auto;
	width:80%;
	margin-top: 1.5em;
	margin-bottom: 3em;
}

.clear {
	clear:both;
}

h2,h4,h6,h3 {
	margin: 0;
}