body,html {
	width: 100%;
	height: 100%;
}

nav {

}

.container {
	position: relative;
	max-width: 100%;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.container .main_page .background-image {
	background-image: url("../img/img1.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	height: ;
	width: 100%;
	display: block;
	overflow: hidden;
	position: relative;
}