body, html {
	width: 100%;
	height: 100%;

}
body {
}

nav {

}

.container {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

}

.container > .main_page {
	overflow: hidden;
}
.container .main_page img{
	/*overflow: :hidden;*/
	/*position: relative;*/
	width: 100%;
	height: auto;
	display: block;
}

.contents {
	/*position: relative;*/
	width:100%;
	height: 500px;
	background: #ddaaff;
}