body,html {
	width: 100%;
	height: 100%;
}

nav {

}

.container {
	position: relative;
	max-width: 100%;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.container .main_page .background_image {
	background-image: url(../img/background_main.jpg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	height: 100%;
	width: 100%;
	display: block;
	overflow: hidden;
	position: relative;
}

.container .contents .recent_con {
	background-color: #323844;
	padding-right: 15px;
	padding-left: 15px;
}

.divider {
	border: 0 solid #e7e6e6;
	border-color:#ec4858;
	border-top-width:16px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	width:100%;
	max-width:40%;
}

/* slider */

.slider {
	position: relative;
	width: 100%;
	height: width * 0.3;
}

.slider .slider-body {
	position: relative;
	width: 780px;
	height: 340px;

	margin: 10px auto;
	background: url("../img/panelbg.png") no-repeat;
}

.slider .slider-body .thumbnail-list {
	position: relative;
	width: 760px;
	height: 320px;
}

.slider .slider-body .thumbnail-list .thumbnail-container {
	position: absolute;
	width: 2000px; /* 500 * 4개 이미지 */
	height: 320px;
}

.slider .slider-body .thumbnail-list .thumbnail-img {
	width: 500px;
	height: 300px;
	float: left;
}

.slider .slider-body .thumbnail-list .thumbnail-img img {
	max-width: 100%;
	max-height: 50%;
}

.slider .slider-body ul .index-nav {
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 200px;
	height: 30px;
	list-style: none;
}

.slider .slider-body .index-nav li {
	display: inline;
	width: 35px;
	height: 27px;
	float: left;
}

.slider .slider-body .index-nav li a {
	float: left;
	font-size: 14pt;
	width: 29px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	vertical-align: middle;
	background: url("../img/button_dot.png") no-repeat;
}

.slider .slider-body .index-nav li a .select {
	background: url("../img/button_dot.png") no-repeat 0 -27px;	
}

.slider .slider-btn-prev {
	position: absolute;
	top: 150px;
	left: 0px;
	width: 51px;
	height: 66px;
	cursor: pointer;
}

.slider .slider-btn-next {
	position: absolute;
	top: 150px;
	right: 0px;
	width: 51px;
	height: 66px;
	cursor: pointer;
}