{% load staticfiles %}
<!DOCTYPE html>

<html>
	<head>

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/dino.css' %}">
		<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css"> -->
		<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
		<!-- <script type="text/javascript" src ="dino.js"></script> -->
	</head>
	<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0"> 
		<div class="wrapper">
			<div class="top_header">
				<h2><a style="text-decoration: none; color:white;" href="{% url 'post_list' %}"># Co-op Blog</a></h2>
					{% if user.is_authenticated %}
					<h2><a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></h2>
					{%endif%}
			</div>
			
			{% block content %}

			{% endblock %}
		</div>
	</body>
</html>