{% extends 'blog/base.html' %}
	{% block content %}
			<div class="card">
				<div class="card_img">
					<a>Add<br>ScreenShot</a>
				</div>
				<h4>
					<a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a>
					{% if user.is_authenticated %}
					<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
					{%endif%}
				</h4>
				<div class="card_contents">
					<h6>{{post.text}}</h6>
				</div>
				<h6>{{post.published_date}}</h6>
			</div>
	{% endblock %}
</html>